<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to 'Home', root_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
  <%= link_to 'Add New Restaurant', new_restaurant_path, class: 'btn btn-success' %>
  </div>
</div>
